{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}Create{% endblock title %}

{% block content %}
    <div class="container">
        <div class="jumbotron m-3">
          <div class="container">
            <form action="{% url 'destination-create' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Add">
            </form>
          </div>
        </div>
    </div>
{% endblock content %}
